html,body{
    background-color: rgb(31, 37, 95);
    margin: 0;  
    padding: 0;
    width: 100%;
    height: 100%;
}
section{
    display: none;
}
#header a,#header1 a{
    display: block;
    text-decoration: none;
    color: #FCCE58;
}
#header a:hover, #header1 a:hover{
    color: black;
}
#header{
    position: fixed;
    display: flex;
    height: 60px;
    background-color: rgb(46, 45, 45);
    border-bottom: solid 3px rgb(41, 49, 128);
    justify-content: space-between;
    align-items: center;
    width: 100%;
    z-index: 100%;
}
#logo img{
    display: flex;
    width: 60px;
    height: 60px;
    border:0;
}
#menu{
    display: flex;
    justify-content: stretch
}
.menu-button{
    font-size: 30px;
    margin: 15px;
    border-radius: 15px;
    border: solid 3px;
    color:rgb(46, 45, 45);
}
.menu-button:hover, .selected{
    background-color: gray;
    border-color: gray;
    border-radius: 15px;
    border: solid 3px

}
#left-box{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 150px;
}
#left-box img{             
    width: 50px;
    height: 50px;
    border:0px;
}
#login-button{
    font-size: 25px;
    border: solid 3px;
    border-radius:10px;
    border-color: rgb(26, 15, 87);
    background-color: rgb(26, 15, 87);
    color:rgb(221, 221, 221);
}
#login-button:hover{
    border-color:brown;
    background-color: brown;
    color:black;
}
#fade{
    background-image: url("img/slide1.jpg");
    position: static;
    overflow: hidden;
    background-size: cover;
    width: 100%;
    height: 100%;
    animation: slide 20s;
    animation-iteration-count: infinite;
}

#box-fade{
    display: flex;
    flex-direction: column;
    position: static;
    position: top;
    margin-top: 20%;
    margin-left: 43%;
    align-items: center;
    justify-content: center;
    color: black;
    width: 230px;   
    height: 130px;
    background-image: url("img/backgroundRegister.jpg");
    border: solid 3px;
    border-radius: 8px; 
}
#box-fade a{
    border: solid 3px;
    border-radius: 5px;
    border-color: black;
    background-color:black;
    text-decoration: none;
    color: white;

}
#video{
    height: 100%;
    width: 100%;
}
#register{
    position: absolute;
    right: 0px;
    top: 90px;
    width: 350px;
    height: 400px;
    background-image: url("img/backgroundRegister.jpg");
    display: flex;
    justify-content: center;
    border-radius: 31px;
}

#SignUpLogo{
    margin-top: -35px;
    border: 0;
}
.signUpButton{
    color:white;
    border: solid 4px;
    border-radius: 31px;
    border-color: black;
    background-color: black;
}
#noxus,#demacia,#ionia,#shurima,#void{
    color: white;
    background:#000814;
    display: inline-block;
    width: 100%;
    height: 900px;
    border: solid 5px rgb(26, 15, 87);  
}
#noxus,#void,#demacia,#ionia,#shurima, h1{
    text-align: center ;
}
#noxus,#void,#demacia,#ionia,#shurima, img{
    border: solid #333943;
    border-radius: 20px;
    align-items: center;
}
#noxus img{
    width: 400px;
    height: 350px;
}
#demacia img{
    width: 400px;
    height: 350px;
}
#ionia img{
    width: 400px;
    height: 350px;
}
#shurima img{
    width: 400px;
    height: 350px;
}
#void img{
    width: 400px;
    height: 350px;
}
h2{
    text-align: left;
    margin-left: 5px;
}
.history{
    border: solid 2px white;
    border-radius: 5px;
}

.buttonsBuy{
    display: visible;
    width: 150px;
    margin-left: 85%;
}

.addCart{
    border: solid 2px #00557F;
    border-radius: 5px;
    color: #AADCDD;
}
.addCart a{
    text-decoration: none;
    color: #FCCE58;
}
.addCart:hover{
    background-color:#00557F ;
}
#LoginButton a{
    text-decoration: none;
    color: white
}

#products{
    background-image: ;
}




@keyframes slide{
    0%{background-image: url("img/slide1.jpg");}
    33%{background-image: url("img/slide2.jpg");}
    67%{background-image: url("img/slide3.jpg");}
}